# Godot
game/.godot/
game/*.import
game/export_presets.cfg

# Builds
builds/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# VS Code (configuración local)
.vscode/settings.json

# Archivos grandes de diseño
design/**/*.psd
design/**/*.aseprite

# Secretos
*.env
secrets.gd
